.contact-team {
    padding: 40px 0 114px;
    &__inner {
        max-width: 486px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 16px;
        text-align: center;
    }
    &__subtitle {
        text-align: center;
        margin-bottom: 32px;
    }
    &__group {
        margin-bottom: 24px;
    }
    &__slider {
        margin-bottom: 24px;
    }
    .noUi-handle {
        background-color: $linkActive;
    }
    .noUi-connect {
        background-color: $linkActive;
    }
}


@media (max-width: 510px) {
    .contact-team {
        .title {
            font-size: 26px;
        }
        .range-slider__title {
            margin-bottom: 20px;
        }
        .range-slider__wrapper {
            margin-left: 15px;
        }
    }
    .contact-team__subtitle {
        margin-bottom: 24px;
    }
    .contact-team {
        padding: 20px 0 40px;
    }
    .contact-team__subtitle {
        font-size: 14px;
    }
}