@use 'sass:math';
@import 'config/mixins';
@import 'config/vars';
@import 'config/reset';
@import 'config/base';
@import 'layout/header';
@import 'layout/footer';

// pages

@import 'pages/cols';
@import 'pages/modals';
@import 'pages/cards';
@import 'pages/persona';
@import 'pages/registration';
@import 'pages/persona-vacancies';
@import 'pages/candidate-vacancy.scss';
@import 'pages/after-registration';
@import 'pages/create-vacancy';
@import 'pages/policy';
@import 'pages/persona-account';
@import 'pages/contact-team';
@import 'pages/company-details';
@import 'pages/after-registration-company';
@import 'pages/choose-plan';

// 
@import '../../node_modules/nouislider/dist/nouislider';

.title {
    font-size: 40px;
    font-weight: 700;
}


.page__links {
    padding: 40px 0;
    &-inner {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    ul, li {
        list-style: decimal;
    }
    li {
        text-align: center;
        margin-bottom: 10px;
        background-color: #c4c4c4;
        color: #000000;
        transition: linear .2s;
        border-radius: 10px;
        &:hover {
            background-color: #a8a8a8;
            transform: scale(1.05);
        }
    }
    a {
        padding: 10px 40px;
        display: block;
    }
}

@media (max-width: 700px) {
    .page__links {
        h1 {
            font-size: 30px;
        }
    }
}

@media (max-width: 490px) {
    .page__links {
        h1 {
            font-size: 19px;
        }
        a {
            font-size: 14px;
            padding: 8px 10px;
        }
    }
}

.telegram {
    width: 33px;
    height: 33px;
    background-image: url(../images/icons/telegram-icon.svg);
}

.whatsapp {
    width: 42px;
    height: 42px;
    background-image: url('../images/icons/whatsapp-icon.svg');
}

.text-gray {
    font-size: 12px;
    color: #666666;
}

.visited {
    padding-left: 15px;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #666666;
        border-radius: 50%;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.back {
    padding-left: 32px;
    position: relative;
    display: block;
    font-weight: 600;
    color: $linkActive;
    margin-bottom: 24px;
    &::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/icons/arrow-back.svg');
    }
}

.add-favorite {
    background-image: url('../images/icons/add-favorite.svg');
    height: 26px;
    width: 24px;
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 0;
    color: transparent;
}

.add-favorite--active {
    background-image: url('../images/icons/add-favorite-active.svg');
}

.info-block-icon {
    padding-left: 18px;
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
    &::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.info-location {
    &::after {
        background-image: url('../images/icons/card-map-icon.svg');
    }
}
.info-price {
    &::after {
        background-image: url('../images/icons/card-price-icon.svg');
    }
}
.info-job {
    &::after {
        background-image: url('../images/icons/card-job.svg');
    }
}
.info-remote__work {
    &::after {
        background-image: url('../images/icons/monitor-icon.svg');
    }
}
.info-deadline {
    &::after {
        background-image: url('../images/icons/clock-green-icon.svg');
    }
}

.invite-btn {
    padding: 12px 16px 12px 48px;
    background-color: $linkActive;
    font-weight: 600;
    color: $white;
    border-radius: 8px;
    position: relative;
    max-width: 161px;
    font-size: 18px;
    &::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/icons/invite-icon.svg');
        background-repeat: no-repeat;
    }
    &:hover {
        background-color: $linkHover;
    }
}

.company__name {
    font-weight: 500;
}

.company__speciality {
    @include cropText;
    max-width: 290px;
    padding: 2px 0;
    overflow: hidden;
}
.company__about {
    line-height: 24px;
    color: #666;
}

.show-more-btn {
    color: $linkActive;
    margin-top: 10px;
    font-weight: 600;
    &:hover {
        color: $linkHover;
    }
}

.hide {
    display: none;
    background-color: rebeccapurple;
}

// status ----- Status

.block-status {
    width: 100px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
    pointer-events: none;
    font-size: 14px;

}
.block-status__new {
    color: $linkActive;
    background-color: #D2EED7;
}
.block-status__closed {
    background-color: #E5F0FF;
    color: #0066FF;
}
.block-status__progress {
    background-color: #FFEBEC;
    color: #F91F43;
}
.block-status__rejected {
    background-color: #F7E3FF;
    color: #8C3EF0;
}
.block-status__incomplete {
    color: #FF5C00;
    background-color: #FFEFE2;
}
.block-status__completed {
    color: #0066FF;
    background-color: #E5F0FF;
}


.footer__help {
    font-weight: 600;
    font-size: 17px;
}


.block-flex-start {
    display: flex;
    align-items: start;
}


.breadcrumbs {
    margin: 16px 0 22px;
    font-size: 12px;
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    li {
        margin-right: 8px;
        padding-right: 24px;
        display: block;
        color: $linkActive;
        font-size: 12px;
        margin-bottom: 10px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            transform: translateY(-50%);
            right: 0;
            top: 50%;
            width: 16px;
            height: 16px;
            background-image: url('../images/icons/breadcrumbs-arrow.svg');
            background-repeat: no-repeat;
        }
        &:hover {
            color: $hoverGreen;
        }
        &:last-child {
            margin-right: 0;
            color: #888B8F;
            &:hover {
                color: $hoverGreen;
            }
            &::after {
                display: none;
            }
        }
    }

}


.profile-completeness {
    max-width: 370px;
    width: 100%;
    padding: 24px;
    background-color: $otherBackground;
    border-radius: 8px;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    &__text {
        font-weight: 500;
    }
    &__num {
        font-weight: 500;
        color: #F91F43;
    }
    &__num--active {
        color: $linkActive;
    }
    &__line-bottom {
        height: 8px;
        border-radius: 10px;
        background-color: $white;
        width: 100%;
    }
    &__line-top {
        height: 8px;
        border-radius: 10px;
        background-color: #F91F43;
        margin-top: -8px;
    }
    &__line-top--active {
        background-color: $linkActive;
    }
    &__subtext {
        font-size: 12px;
        color: #666;
        margin-top: 16px;
    }
    &__list {
        margin-top: 32px;
    }
    &__list-item {
        display: flex;
        align-items: center;
        color: #666;
        margin-bottom: 17px;
    }
    &__list-item--active {
        color: $linkActive;
    }
    &__list-nums {
        font-weight: 600;
        margin-right: 8px;
    }
    &__list-text {
        font-size: 14px;
    }
}

.save-btn {
    @include greenbtn;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    &:disabled {
        background-color: #D2EED7;
        pointer-events: none;
    }
}
.activate-btn {
    @include greenbtn;
}

.border-green-btn {
    @include borderGreenbtn;
}

.widget {
    &__toggle {
        display: flex;
        align-items: center;
    }
    &__toggle-real {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        appearance: none;
    }
    &__toggle-fake {
        display: inline-block;
        width: 40px;
        height: 24px;
        background-color: #D3D3D3;
        border-radius: 25px;
        position: relative;
        transition: linear .2s;
        cursor: pointer;
        &::before {
            position: absolute;
            content: '';
            top: 3px;
            left: 3px;
            height: 18px;
            width: 18px;
            background-color: $white;
            border-radius: 50%;
            transition: linear .2s;
        }
    }
    &__toggle-title {
        font-weight: 500;
        margin-left: 8px;
    }
    
}

.widget__toggle-real:checked ~ .widget__toggle-title {
    color: $linkActive;
}

.widget__toggle-real:checked + .widget__toggle-fake {
    background-color: $hoverGreen;
    &::before {
        left: 18px;
        background-color: #D3D3D3;
    }
}


// Select с Dropdown на js


.help-question {
    position: relative;
    margin-left: 10px;
    &-icon {
        color: #888B8F;
        &:hover {
            color: $linkActive;
        }
    }
    &-list {
        opacity: 0;
        transition: linear .3s;
        position: absolute;
        width: 300px;
        bottom: -230px;
        right: -10px;
        box-shadow: $bigBoxShadow;
        background-color: $otherBackground;
        border-radius: 8px;
        padding: 8px 16px 8px 40px;
        font-size: 14px;
        line-height: 20px;
        pointer-events: none;
        z-index: 20;
        li {
            list-style: decimal;
        }
        p {
            font-weight: 500;
        }
        span {
            color: #3E3E3E;
        }
    }
}
.help-question-icon:hover ~ .help-question-list {
    opacity: 1;
}


.dropdown {
    position: relative;
}

.dropdown__button {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    background-color: $white;
    border: 1px solid $borderGray;
    border-radius: 8px;
    height: 48px;
    padding: 13px 35px 13px 16px;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #888B8F;
    &::after {
        @include afterTopAbsolute;
        width: 24px;
        height: 24px;
        right: 10px;
        background-image: url('../images/icons/arrow-dropdown.svg');
        pointer-events: none;
    }
}

.dropdown__button--active {
    border: 1px solid $linkActive;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

.dropdown__list {
    display: none;
    border: 1px solid $borderGray;
    border-radius: 0 0 8px 8px;
    background-color: $white;
    overflow: hidden;
    width: 100%;
    box-shadow: $smallBoxShadow;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 46px;
    max-height: 220px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: #D3D3D3;
        border-radius: 8px;
        overflow: hidden;
    }
}

.dropdown__list-wrapper {
    padding: 8px;
}
.dropdown__list-search {
    display: block;
    width: 100%;
    border: 1px solid $borderGray;
    border-radius: 8px;
    height: 48px;
    padding: 10px 16px;
    &:focus {
        border: 1px solid $linkActive;
    }
}

.dropdown__list--visible {
    border: 1px solid $linkActive;
    display: block;
}

.dropdown__list-item {
    padding: 13px 16px;
    border-bottom: none;
    border-bottom: 1px solid $borderGray;
    cursor: pointer;
    &:hover {
        background-color: #E8F6EB;
    }
    &:last-child {
        border-bottom: none;
    }
}

.dropdown__list-item-box {
    display: flex;
    align-items: center;
    img {
        margin-right: 15px;
    }
}

.dropdown__input-hidden {
    display: none;
}

.dropdown-flag {
    .dropdown__button {
        width: 66px;
        border-right: none;
        padding: 15px 5px 7px 12px;
        font-size: 0;
        color: transparent;
        border-radius: 8px 0 0 8px;
        
        img {
            width: 20px;
            overflow: hidden;
        }
        &::after {
            width: 16px;
            height: 16px;
            right: 8px;
        }
    }
    .dropdown__button--active {
        border-bottom: none;
        border-radius: 8px 0 0 0;
    }
    .dropdown__list {
        width: 300px;
        border-top: none;
    }
    .dropdown__list-item {
        display: flex;
        justify-content: space-between;
        img {
            width: 24px;
            background-size: cover;
            overflow: hidden;
        }
    }
}

.input-phone-wrapper {
    display: flex;
}

.input-phone {
    padding: 12px 40px 12px 12px;
    display: block;
    width: 100%;
    border: 1px solid $borderGray;
    border-radius: 0 8px 8px 0;
    &:focus {
        border: 1px solid $linkActive;
    }
}
.input-phone--err {
    border: 1px solid #F91F43;
    &:focus {
        border: 1px solid #F91F43;
    }
}



.checkbox {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    &__real {
        width: 0px;
        height: 0px;
        position: absolute;
        opacity: 0;
        appearance: none;
    }
    &__fake {
        margin-right: 10px;
        position: relative;
        display: inline-block;
        width: 22px;
        height: 22px;
        border: 1px solid #666;
        background-color: #fff;
        border-radius: 4px;
    }
  }
  .checkbox__real:checked + .checkbox__fake {
    background-color: $linkActive;
    border: 1px solid transparent;
  }
  .checkbox__real:checked + .checkbox__fake::before {
    position: absolute;
    content: '';
    background-image: url('../images/icons/checkbox-check-icon.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 11px;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
  }
 

  .radio {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    &__real {
        width: 0px;
        height: 0px;
        position: absolute;
        opacity: 0;
        appearance: none;
    }
    &__fake {
        margin-right: 10px;
        position: relative;
        display: inline-block;
        width: 22px;
        height: 22px;
        border: 1px solid #666;
        background-color: #fff;
        border-radius: 50%;
    }
  }
  .radio__real:checked + .radio__fake {
    border: 1px solid $linkActive;
  }
  .radio__real:checked + .radio__fake::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: $linkActive;
    border-radius: 50%
  }




.remove-btn {
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/remove-btn.svg);
    background-repeat: no-repeat;
    &:hover {
        transform: scale(1.1);
    }
}

.change-btn {
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/change-btn-icon.svg);
    background-repeat: no-repeat;
    &:hover {
        transform: scale(1.1);
    }
}

.btn-line {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $linkActive;
    font-weight: 600;
    &:hover {
        background-color: $otherBackground;
        border: 1px solid $linkHover;
        box-shadow: $smallBoxShadow;
    }
    &:disabled {
        pointer-events: none;
        cursor: auto;
        background-color: #F4F7F7;
        color: $borderGray;
        border: 1px solid $borderGray;
    }
}




.just-validate-error-field {
    border: 1px solid #F91F43;
    &:focus {
        border: 1px solid #F91F43;
    }
}

.just-validate-error-label {
    font-size: 12px;
    margin-top: 6px;
    color: #F91F43;
}

.green-timer {
    color: $linkActive;
    font-size: 14px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    &::after {
        @include afterTopAbsolute;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: url('../../images/icons/clock-green-icon.svg');
    }
}

.time-counter-test {
    display: inline-block;
    padding: 8px 8px 8px 37px;
    background-color: $otherBackground;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    position: relative;
    // width: 130px;
    &::after {
        @include afterTopAbsolute;
        left: 8px;
        width: 24px;
        height: 24px;
        background-image: url('../images/icons/timer-skill.svg');
    }
}



.group-field {
    width: 100%;
    &__title {
        color: #3e3e3e;
        margin-bottom: 10px;
        font-weight: 600;
    }
    &__wrapper {
        position: relative;
    }
    &__input {
        border-radius: 8px;
        border: 1px solid $borderGray;
        width: 100%;
        height: 48px;
        padding: 12px 16px;
        position: relative;
        &:focus {
            border: 1px solid $linkActive;
        }
    }
    &__input-password {
        padding-right: 45px;
    }
    &__textarea {
        width: 100%;
        height: 120px;
        border: 1px solid $borderGray;
        border-radius: 8px;
        resize: none;
        padding: 12px 16px;
        &:focus {
            border: 1px solid $linkActive;
        }
        &::-webkit-scrollbar {
            width: 3px;
            background-color: transparent;
            border-radius: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: #D3D3D3;
            border-radius: 8px;
            overflow: hidden;
        }
    }
    &__symbols {
        text-align: right;
        color: #666;
        font-size: 12px;
        line-height: 16px;
    }
    &__wrapper-date {
        position: relative;
        width: 100%;
        &::after {
            position: absolute;
            content: '';
            top: 10px;
            pointer-events: none;
            left: 16px;
            width: 24px;
            height: 24px;
            background-image: url(../images/icons/calendar-2-date.svg);
            z-index: 3;
        }

    }
    &__wrapper-date--disable{
        &::after {
            background-image: url('../images/icons/calendar-2-date-disable.svg');
        }
    }
    &__input-date {
        padding-left: 48px;
        &:disabled {
            @include disabledBtn;
        }
    }
    // password
    &__btn-show-hide {
        position: absolute;
        right: 16px;
        top: 12px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-image: url('../images/icons/eye.svg');
    }
    &__btn-show-hide--active {
        background-image: url('../images/icons/eye-slash.svg');
    }
}
.group-field--width {
    width: 270px;
}
.restore-password {
    color: $linkActive;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    text-align: right;
    &:hover {
        color: $hoverGreen;
    }
}


.upload {
    &__title {
        font-weight: 600;
    }
    &-wrapper {
        display: flex;
        margin-top: 10px;
    }
    &__img {
        width: 112px;
        height: 112px;
        border: 1px dashed $borderGray;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        &::after {
            @include afterTopAbsolute;
            top: 50%;
            left: 50%;
            width: 39px;
            height: 39px;
            background-image: url('../images/icons/upload-img-icon.svg');
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        img {
            object-fit: cover;
            width: 112px;
            height: 112px;
        }
    }
    &__buttons {
        margin-left: 16px;
        width: 175px;
    }
}
.upload-btn-input {
    position: absolute;
    opacity: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    top: -20px;
    left: 0;
}
.upload-btn {
    width: 100%;
    height: 48px;
    border: 1px solid $linkActive;
    border-radius: 8px;
    font-weight: 600;
    padding-left: 40px;
    position: relative;
    margin-bottom: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: linear .2s;
    &:hover {
        background-color: $otherBackground;
        border: 1px solid $hoverGreen;
    }
    &::after {
        @include afterTopAbsolute;
        left: 20px;
        width: 24px;
        height: 24px;
        background-image: url('../images/icons/upload-img-icon.svg');
        pointer-events: none;
    }
}
.delete-btn {
    width: 100%;
    height: 48px;
    border: 1px solid $linkActive;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3e3e3e;
    &:hover {
        background-color: $otherBackground;
        border: 1px solid $hoverGreen;
    }
    &:disabled {
        @include disabledBtn;
    }
}





.range-slider {
    display:  flex;
    justify-content: space-between;
    align-items: flex-start;
    &__box {
        width: 100%;
    }
    &__title {
        font-size: 14px;
        font-weight: 500;
        color: #3e3e3e;
        margin-bottom: 15px;
    }
    &__wrapper {
        margin-left: 30px;
        display: flex;
        align-items: center;
        p {
            margin-left: 8px;
        }
    }
    &__input {
        border: 1px solid $borderGray;
        width: 64px;
        padding: 18px 0;
        pointer-events: none;
        border-radius: 8px;
        font-weight: 500;
        color: #3E3E3E;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
            margin: 0;
            -moz-appearance: textfield;
        }
    }
}




.noUi-horizontal {
    height: 4px;
    border: none;
    background-color: #D3D3D3;
    box-shadow: none;
    border-radius: 10px;
}

.noUi-handle {
    border-radius: 50%;
    background-color: #4EB8EE;
    border: 1px solid $white;
    cursor: pointer;
    transition: linear .2s;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.2);
    }
    &::after,
    &::before {
        display: none;
    }
}
  
.noUi-horizontal .noUi-handle {
    width: 32px;
    height: 32px;
    top: -14px;
}

.noUi-connect {
    background-color: #4EB8EE;
}




















// удалить по завершению проекта

.razdelitel {
    margin: 50px;
}

.read-me {
    .p {
        margin: 50px 0;
        font-size: 20px;
        display: block;
        padding: 10px;
        background-color: $otherBackground;
    }
}












@import 'config/media';