@use 'sass:math';
@import 'config/mixins';
@import 'config/vars';
@import 'config/reset';
@import 'config/base';
@import 'layout/header';
@import 'layout/footer';

// pages

@import 'pages/cols';
@import 'pages/modals';
@import 'pages/cards';
@import 'pages/persona';
@import 'pages/registration';
@import 'pages/persona-vacancies';
@import 'pages/candidate-vacancy.scss';

.page__links {
    padding: 40px 0;
    &-inner {
        text-align: center;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    li {
        margin-bottom: 10px;
    }
}

.telegram {
    width: 33px;
    height: 33px;
    background-image: url(../images/icons/telegram-icon.svg);
}

.whatsapp {
    width: 42px;
    height: 42px;
    background-image: url('../images/icons/whatsapp-icon.svg');
}

.text-gray {
    font-size: 12px;
    color: #666666;
}

.visited {
    padding-left: 15px;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #666666;
        border-radius: 50%;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.back {
    padding-left: 32px;
    position: relative;
    display: block;
    font-weight: 600;
    color: $linkActive;
    margin-bottom: 24px;
    &::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/icons/arrow-back.svg');
    }
}

.add-favorite {
    background-image: url('../images/icons/add-favorite.svg');
    height: 26px;
    width: 24px;
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 0;
    color: transparent;
}

.add-favorite--active {
    background-image: url('../images/icons/add-favorite-active.svg');
}

.info-block-icon {
    padding-left: 18px;
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
    &::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.info-location {
    &::after {
        background-image: url('../images/icons/card-map-icon.svg');
    }
}
.info-price {
    &::after {
        background-image: url('../images/icons/card-price-icon.svg');
    }
}
.info-job {
    &::after {
        background-image: url('../images/icons/card-job.svg');
    }
}
.info-remote__work {
    &::after {
        background-image: url('../images/icons/monitor-icon.svg');
    }
}
.info-deadline {
    &::after {
        background-image: url('../images/icons/clock-green-icon.svg');
    }
}

.invite-btn {
    padding: 12px 16px 12px 48px;
    background-color: $linkActive;
    font-weight: 600;
    color: $white;
    border-radius: 8px;
    position: relative;
    max-width: 161px;
    font-size: 18px;
    &::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/icons/invite-icon.svg');
        background-repeat: no-repeat;
    }
    &:hover {
        background-color: $linkHover;
    }
}

.company__name {
    font-weight: 500;
}

.company__speciality {
    @include cropText;
    max-width: 290px;
    padding: 2px 0;
    overflow: hidden;
}
.company__about {
    line-height: 24px;
    color: #666;
}

.show-more-btn {
    color: $linkActive;
    margin-top: 10px;
    font-weight: 600;
    &:hover {
        color: $linkHover;
    }
}

.hide {
    display: none;
    background-color: rebeccapurple;
}

// status ----- Status

.block-status {
    width: 100px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
    pointer-events: none;
    font-size: 14px;

}
.block-status__new {
    color: $linkActive;
    background-color: #D2EED7;
}
.block-status__closed {
    background-color: #E5F0FF;
    color: #0066FF;
}
.block-status__progress {
    background-color: #FFEBEC;
    color: #F91F43;
}
.block-status__rejected {
    background-color: #F7E3FF;
    color: #8C3EF0;
}
.block-status__incomplete {
    color: #FF5C00;
    background-color: #FFEFE2;
}
.block-status__completed {
    color: #0066FF;
    background-color: #E5F0FF;
}


.footer__help {
    font-weight: 600;
    font-size: 17px;
}


.block-flex-start {
    display: flex;
    align-items: start;
}


.breadcrumbs {
    margin: 16px 0 22px;
    font-size: 12px;
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    li {
        margin-right: 8px;
        padding-right: 24px;
        display: block;
        color: $linkActive;
        font-size: 12px;
        margin-bottom: 10px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            transform: translateY(-50%);
            right: 0;
            top: 50%;
            width: 16px;
            height: 16px;
            background-image: url('../images/icons/breadcrumbs-arrow.svg');
            background-repeat: no-repeat;
        }
        &:hover {
            color: $hoverGreen;
        }
        &:last-child {
            margin-right: 0;
            color: #888B8F;
            &:hover {
                color: $hoverGreen;
            }
            &::after {
                display: none;
            }
        }
    }

}















































.upload-box{
    position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 279px;
//     width: 271px;
//     margin: 50px 30px 0 0;
//     border: dashed 2px #E0E0E0FF;
//     border-radius: 4px;
}
.circle-ring{
    position: relative;
}
.circle-progress{
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset linear 8s;
}
.circle-percent{
    position: absolute;
    top: calc(50% - 25px);
    top: 50%;
    left: 50px;
    transform: translate(-50% -50%);
    font-size: 32px;
    font-weight: 700;
}
















@import 'config/media';